
{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <meta name="description" content="{% block description %} Flask 3 | {% endblock %}">
    <title>{% block title %} Flask 3 | {% endblock %}</title>

    <!--Import styles css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

    <!--
    Incluyendo html de otros archivos
    -->
    {% block navbar%}
        {% include 'nabvar.html' %}
    {% endblock %}

    <!--
    get_flashed_messages() // devuelve un iterable con todos los mensajes flash que se generen en la app
    -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}



    <!--Usando el bloque heredado de bootstrap-->
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock %}


