
{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <meta name="description" content="{% block description %} Flask 3 | {% endblock %}">
    <title>{% block title %} Flask 3 | {% endblock %}</title>

    <!--Import styles css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}

    <!--
    Incluyendo html de otros archivos
    -->
    {% block navbar%}
        {% include 'nabvar.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}


</html>